ul {
    list-style-type: none;
}

ol {
	list-style-type: none;
}


body {
	background-image: url('assets/vac.png');
	background-repeat: repeat;
}

.nav-list {
    display: inline-block;
    text-decoration: none;
    background-color: black;
}

.nav-link:link, .nav-link:visited, .social-link:link, .social-link:visited{
color: white;
text-decoration: none;
margin: 2px 20px 2px 10px;
padding: none;
}

.nav-link:hover{
  color: red;
}

.social-link:hover{
  color:aqua;
}

.image{
  background-image: url('assets/humahuaca.jpg');
  background-repeat: no-repeat;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

.titulo-principal{
  color: rgb(171, 205, 90);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
  
}

.titulo-imagen{ 
  color: rgb(255, 174, 0);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}


.footer{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 30px;
  font-family: 'Source Code Pro', monospace;
}

.flex-container{
  display : flex;
  flex-flow: row nowrap;
  align-content: flex-start;
  justify-content: flex-end;
  padding: 0px;
}

.image-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 30px;
}

.grid1{
  grid-column: 1;
}

.grid2{
  grid-column: 2;
}

.grid3{
  grid-column: 3;
}

.header-container{
  display: grid;
  grid-template-columns:repeat(3, 1fr) ;
  background-color: rgba(0, 0, 0, 0.644);
  grid-template-rows: 150px 1fr;
  align-items: center;
}

.header-grid1{
  grid-column: 1;
}

.header-grid2{
  grid-column: 2;
}

.header-grid3{
  grid-column: 3;
}

.social-container{
  display: flex;
  color: white;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.social-media{
  margin-right: 10px;
}

.galery-image{
  width: 45vw;
  height: 400px;
  transition: all 0.5s ease-in;
}

.galery-image:hover{
  filter: blur(1px) grayscale(0.7);
  transition: all 0.5s ease-in;
  transform: scale(1.02);
}

.galery-container{
  display: grid;
  grid-template-columns:repeat(2, 1fr)
}

.galery-grid1{
  grid-column: 1;
}

.galery-grid2{
  grid-column: 2;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .image-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .grid1{
    grid-column: 1;
  }
  
  .grid2{
    grid-column: 1;
  }
  
  .grid3{
    grid-column: 1;
  }

  .titulo-principal{
    font-size: 40px;
  }

  .header-container{
    grid-template-rows: 50px 1fr;
    
    grid-template-columns: repeat(1, 1fr);
  }
  .header-grid1{
    grid-column: 1;
  }
  
  .header-grid2{
    grid-column: 1;
  }

  .header-grid3{
    grid-column: 1;
  }
  
  .social-container{
    justify-content: center;
  }
  
  .flex-container{
    flex-flow: column nowrap ;
  }
  
  .nav-list{
    text-align: center;
    margin-bottom: 5px;
  }

  .galery-container{
    grid-template-columns: repeat(1, 1fr);
  }
  
  .galery-grid1{
    grid-column: 1;
  }
  
  .galery-grid2{
    grid-column: 1;
  }

  .galery-image{
    width: 95vw;
    height: auto;
  }
    

}